table{
    border-collapse: collapse;
    width: 50%;
    margin: 10px;
}

td, th{
    border: 1px solid #dddd;
    text-align: center;
    padding-left: 5px;
}

mat-card {
    width: 20%;
    margin: 10px;
}

button {
    margin: 10px;
}